:root {
    /* PALETA DE COLORES */
    --Orange-85: #DC5F00;
    --Orange-75: #FF5B22;
    --Orange-50: #FF9843;
    --Orange-25: #FFDD95;
    --Negro-100: #000000;
    --Negro-75: #666666;
    --Negro-50: #B5B5B5;
    --Negro-25: #EAEAEA;
    --Negro-15: #F8F6F4;
    --Negro-0: #FFFFFF;
    --yellow-50: #FFC100;
    /* Tamaño de letra */
    --ExtraGrande: 70px;
    --Tittle: 22px;
    --Text-long: 18px;
    --Text-medium: 16px;
    --Text-small: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: var(--Negro-100);
    border: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 8px 8px 0px 8px;
}

.boton-generico-primario {
    display: block;
    width: 95%;
    padding: 12px;
    background-color: var(--yellow-50);
    color: var(--Negro-0);
    border-radius: 10px;
    font-size: var(--Text-long);
    font-weight: bold;
    cursor: pointer;
    margin: 0px auto;
}
.boton-generico-primario-Apretado{
    background-color: var(--Negro-0);
    border: 2px solid var(--yellow-50);
    color: var(--yellow-50);
}
.frm-generico{
    background-color: var(--Negro-0);
    border: 1px solid var(--Negro-50);
    border-radius: 8px;
    position: relative;
}

.boton-generico-primario:hover{
    opacity: 80%;
}

input{
    background-color: var(--Negro-25);
    padding: 8px;
    border-radius: 8px;
}
label{
    font-weight: 600;
    font-size: var(--Text-medium);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label:has(input[type="radio"]), input[type=radio] {
    cursor: pointer;
} 
button {
    cursor: pointer;
}

.motrar-elemento {
    display: block !important;

}
.grid-generico-1fr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.motrar-elemento-grid {
    display: grid !important;
}

.contenedor-body-divison {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 20px;
    background-color: var(--Negro-0);
}

.contenedor-body-divison.solo-un-elemento {
    display: grid;
    grid-template-columns: auto;
}

.white-letter {
    color: white;
    -webkit-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
}

.administrador-navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 280px;
    overflow: hidden;
    padding: 5px 15px;
    height: calc(100vh - 20px);
    background-color: #191919;
    border-radius: 12px;
    /* position: fixed; */
}


.contenedor-opcion-admin {
    border-radius: 10px;
    margin-bottom: 10px;
}

nav.administrador-navbar .user-information {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    padding-left: 14px;
    padding-bottom: 10px;
}

.texto-administrador {
    font-size: 26px;
    font-weight: bold;
}

.bar-right-img {
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 240px;
    top: 28px;
}

.bar-right-img.mover-bar {
    left: 20px;
}

.container-options-admin {
    margin-top: 36px;
    overflow: auto;
}

.option-admin {
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 40px;
    padding: 0px 20px 0px 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    /* width: 50px; */
}

.option-admin:hover {
    background-color: #2B2B2F;
}

.option-admin.panel-control:active {
    background-color: var(--Negro-50);
}

/* RECICLAJE, CAMBIA EL COLOR CUANDO SE HACE CLICK */
.option-admin.active {
    background-color: #666666;
    /* Cambia el color aquí */
}

/* PANEL DE CONTROL */

.Panel-Control-General {
    background-color: var(--Negro-15);
    height: calc(100vh - 120px);
}

.Contenedor-Opciones-Panel-Control {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    gap: 50px;
}

.Panel-Control-General h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn_Panel-Control {
    background-color: var(--Negro-50);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* RECICLAJE */
.opacidad-80:hover {
    opacity: 80%;
}

.flex-XY {
    display: flex;
    justify-content: space-between;
}

.centrado {
    align-items: center;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-YX {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* FIN RECICLAJE */

/* FIN PANEL DE CONTROL */

.option-admin.panel-control {
    margin: 40px 0px 60px;
    background-color: #2B2B2F;
}

.option-admin .contenedor-admin {
    display: flex;
    width: 100%;
    font-size: 20px;
}

.flecha-admin-opcion {
    transform: rotate(-90deg);
}

.option-admin .contenedor-admin figure {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    width: 34px;
}


.opciones-cita {
    display: none;
    padding-left: 30px;
    font-weight: bold;

}

.opciones-cita ul li {
    height: 36px;
    border-radius: 4px;
    padding-left: 10px;
    line-height: 36px;
    font-size: 18px;
}

.opciones-cita ul li:hover {
    background-color: #2B2B2F;
    cursor: pointer;
    border-radius: 10px;
}

/* CREAR NUEVA CITA -- INTERFAZ CITAS */

.reserva_cita_barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2B2F;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.8);
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.reserva_cita_barra-superior__icono {
    width: 24px;
    height: auto;
}

.reserva-cita__formulario {
    max-width: 1200px;
    margin: 10px auto 0px;
    padding: 20px;
    background-color: var(--Negro-0);
    box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.8);
    border-radius: 10px;
}

.reserva-cita__titulo {
    text-align: center;
    font-size: var(--Tittle);
    margin-bottom: 20px;
}

.reserva-cita__contenido {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.reserva-cita__cliente,
.reserva-cita__mascota,
.reserva-cita__cita {
    padding: 20px 20px 10px 20px;
    border: 1px solid var(--Negro-50);
    border-radius: 10px;
    background-color: var(--Negro-0);
}

.reserva-cita__mascota {
    margin-bottom: 14px;
}

.contenedor-datos-cita {
    display: flex;
    justify-content: space-between;
}

.reserva-cita__subtitulo {
    font-size: var(--Text-long);
    margin-bottom: 4px;
    font-weight: bold;
    padding-left: 20px;
}

.reserva-cita__label {
    display: block;
    margin-bottom: 4px;
    font-size: var(--Text-small);
    font-weight: bold;
}

.reserva-cita__input,
.reserva-cita__select,
.reserva-cita__textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--Negro-25);
}

.reserva-cita__detalles {
    margin-bottom: 20px;
}

.reserva-contenedor {
    width: 200px;
}

.reserva-cita__cita-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.reserva-cita__boton {
    display: block;
    width: 350px;
    margin: 20px auto 0px auto;
    padding: 15px;
    background-color: var(--Orange-50);
    color: var(--Negro-0);
    border: none;
    border-radius: 20px;
    font-size: var(--Text-long);
    font-weight: bold;
    cursor: pointer;
}

.reserva-cita__boton:hover {
    opacity: 0.8;
}

.pruebaaa {
    height: min-content;
    margin-top: 20px;
    max-height: calc(100vh - 110px);
    /* overflow: auto; */
    width: auto;
}

.classeOverflow {
    overflow: auto;
    max-height: calc(100vh - 220px);
}

/* SECCION FILTRADO DE LA TABLA  */
.Contenedor_Filtros-Tabla-productos {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background-color: var(--Negro-0);
    box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.8);
    padding: 8px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.Contenedor_Filtros-Tabla-productos .boton-generico-primario{
    width: 200px;
    margin: 0px;
    padding: 8px;
    margin-top: 32px;
    font-weight: 600;
}
.btnFiltradoGestionProductos{
    padding: 10px;
    font-size: var(--Text-small);
    font-weight: 600;
    border-radius: 8px;
    background-color: var(--Negro-75);
}
.seccionFiltradoProducto{
    border-radius: 20px;
    width: 75%;
}
.Contenedor_Filtros-Tabla-productos select{
    border: 1px solid var(--Negro-50);
    border-radius: 8px;
    width: 180px;
    height: 38px;
    margin-right: 10px;
}
.Contenedor_Filtros-Tabla-productos input{
    border: 1px solid var(--Negro-75);
    height: 38px;
    width: 120px;
}

.Filtros-Tabla-productos {
    margin-top: 10px;
    width: 100%;
}

/* TABLA DE GESTION PRODUCTOS */
.Tabla_Gestion-Productos {
    width: 100%;
    max-width: 1400px;
    margin: 0px auto 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Tabla_Gestion-Productos thead {
    position: sticky;
    top: -1px;
    z-index: 1;
}

.Valor-Tabla__precioTotal {
    width: 100px;
}

.Encabezado-tabla__nombre,
.Valor-Tabla__nombre {
    width: 20%;
}

.Encabezado-tabla__categoria,
.Valor-Tabla__categoria {
    width: 22%;
}

.Valor-Tabla__detalles {
    text-align: center;
}

.Valor-Tabla__detalles .img_Mostrar-Detalle-Producto {
    cursor: pointer;
    margin: auto;
    width: 30px;
}

.Fila_Encabezado th {
    width: min-content;
    background-color: var(--yellow-50);
    color: var(--Negro-100);
    font-weight: bold;
    padding: 12px 0px;
    text-align: center;
    border: 1px solid var(--yellow-50);
}


.Fila_producto td {

    border: 1px solid var(--yellow-50);
    padding: 8px 8px;
    word-wrap: break-word;
    /* Hace que el contenido se coloque abajo en vez de desbordar*/
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-generico {
    position: fixed;
    height: 100vh;
    z-index: 2;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}

/* MODAL FORMULARIO AÑADIR DATOS */

#Formulario_AñadirProductoBD,
#Formulario_ActualizarProductoBD {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    border: 3px solid #FF5B22;
    width: 500px;
    position: relative;
}

.divider {
    border: 0;
    border-bottom: 1px solid #000;
    margin: 20px 0;
}

.contenedor-datos-frNuevoProducto {
    gap: 20px;
}

.input-generico {
    background-color: #F5F3F3;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

#Formulario_AñadirProductoBD label,
#Formulario_ActualizarProductoBD label {
    margin-bottom: 8px;
    font-weight: bold;
}

.mitad50 {
    width: 50%;
}

/* MODAL DE DETALLE DE PRODUCTO */

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    border: 3px solid #FF5B22;
    width: 400px;
    position: relative;
    box-sizing: content-box;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 28px;
    font-size: 60px;
    cursor: pointer;
    transform: scale(3.8);
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
    font-size: var(--Text-long);
}

.modal-divider {
    border: 0;
    border-top: 1px solid #000;
    margin: 10px 0;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.details-text {
    max-width: 60%;
}

.modal-content p {
    font-size: var(--Text-medium);
    font-weight: bold;
}

.modal-content span {
    display: block;
    font-size: var(--Text-medium);
    font-weight: normal;
}

.description-container {
    margin-top: 10px;
    background-color: #EAEAEA;
    padding: 10px;
    max-height: 90px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.product-image {
    width: 180px;
    height: 200px;
    position: absolute;
    top: 130px;
    right: 30px;
    background-color: var(--Negro-25);
    border-radius: 10px;
    overflow: hidden;
}

.product-image img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
}

.modal-button {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--Text-small);
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 12px 23px;
    cursor: pointer;
    border-radius: 14px;
    margin-bottom: 10px;
}

.edit-button {
    background-color: #FF9843;
}

.edit-button:hover,
.hide-button:hover {
    opacity: 80%;
}

.hide-button {
    background-color: #FF5B22;
}

/* FIN MODAL DETALLE */

/* MODAL DETALLE DE PEDIDOS */
.detallPedidoEnvio {
    background-color: var(--Negro-0);
    border-radius: 20px;
    border: 2px solid var(--Orange-75);
    padding: 10px 40px 20px 40px;
    width: 550px;
    max-height: 600px;
    position: relative;
}

.equis-ubicacion {
    width: 30px;
    top: 10px;
    right: 20px;
    position: absolute;
    cursor: pointer;
}

.header-detallePedido {
    border-bottom: 1px solid var(--Negro-50);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.area-padding {
    background-color: var(--Negro-15);
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--Negro-25);
}

.alineado {
    width: 160px;
}

.gap-generico {
    gap: 20px
}

.bold {
    font-weight: bold;
}
.semibold {
    font-weight: 600;
}

.antibold {
    font-weight: 400;
}
.tittle{
    font-size: var(--Text-long);
}

.comentario-detalle-pedido {
    max-height: 70px;
    overflow: auto;
}

.btnDetalleProducto {
    width: 47%;
    height: 40px;
    border-radius: 10px;
    font-size: var(--Text-medium);
    margin-top: 10px;
    background-color: var(--Orange-75);
    color: var(--Negro-0);
}

.colorNaranja75 {
    background-color: var(--Orange-50);
    margin-right: 23px;
}


/* BOLETA DE VENTA */
/* BOLETA DE VENTA */
/* BOLETA DE VENTA */

.boleta {
    border: 2px solid var(--Negro-75);
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    height: auto;
    background-color: var(--Negro-0);
    box-sizing: content-box;
    position: relative;
}

.boleta #boletavet {
    margin-top: 18px;
}

.boleta #boletaNumero {
    margin-bottom: 10px;
}

.boleta .header h2 {
    margin-top: 6px;
    margin-bottom: 1px;
}

.boleta .items {
    width: 100%;
    border-collapse: collapse;
}

#footerBoleta {
    border-top: 1px solid #000;
    padding: 20px 10px 0px 10px;
}

.boleta .items th,
.boleta .items td {
    padding: 10px;
    text-align: center;
}

.boleta thead tr {
    border-bottom: 1px solid black;
}


/* MODALES DE AYUDA */
.message-container {
    width: 350px;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
}
.btn-Ayuda{
    margin-top: 20px;
    width: 100%;
    height: 44px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
.btn-verde{
    background-color:#7ed321;
}
.btn-rojo{
    background-color:#FF4141;
}
.btn-naranja{
    background-color:#F8C100;
}
.Ayuda-image {
    width: 60px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.color-text-ayuda-verde {
    color: #7ed321;
}
.color-text-ayuda-rojo {
    color: #FF4141;
}
.color-text-ayuda-naranja {
    color: #F8C100;
}
.Ayuda-text {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #555555;
}

/* BUSCAR CLIENTES REGISTRADOS PARA REGISTRAR LA SESION  */
#modal-buscar-sesion-cliente{
    place-items: start center;
}
.Contenedor_principal-BuscarClienteSesion{
    width: 550px;
    background-color: var(--Negro-0);
    padding: 20px;
    margin-top: 40px;
    position: absolute;
    border-radius: 8px;
}
.Contenido-busquedaCliente-Sesion{
    width: 100%;
    display: grid;
    border: 1px solid var(--Negro-25);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
.Contenido-nombre-coincidencias{
    margin: 20px 0px 20px;
    max-height: calc(100vh - 300px);
    overflow: auto;
}
.Nombre-coincidencia-sesion{
    font-size: var(--Text-medium);
    margin: 4px 0px 4px;
    cursor: pointer;
    padding: 8px;
}
.Nombre-coincidencia-sesion:hover{
    background-color: var(--Negro-25);
}
.input-nombreCLiente-sesion{
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    padding-left: 40px;
    background-color: var(--Negro-25);
}
.lupa-Buscar-cliente-sesion{
    position: absolute;
    width: 26px;
    top: 4px;
    left: 4px;
    cursor: pointer;
}

#idBtAnidir-new-Cliente-sesion{
    font-weight: 00px;
    padding: 8px;
    font-size: var(--Text-small);
}

/* FORMULARIO ANIADIR NUEVA MASCOTA NUEVO CLIENTE */

#AniadirNuevoClienteMascota, #AniadirNuevoMascotaMascotaSesion{
    background-color: var(--Negro-0);
    border-radius: 10px;
    border: 1px solid var(--Negro-75);
    padding: 30px;
    position: relative;
}
.encerrarFRMBorde{
    border: 1px solid var(--Negro-50);
    padding: 16px;
    border-radius: 8px;
    margin: 10px 0px 30px
}
.encerrarFRMBorde.primerofrm{
    gap: 30px
}
#AniadirNuevoClienteMascota input{
    margin-top: 8px;
    font-size: var(--Text-medium);
}
.min-content{
    justify-content: start;
    gap: 10px;
}

/* FRM VER MASCOTAS DEL CLIENTE PARA LA SESION */

.frm-verMascotas-cliente_sesion{
    width: 600px;
    padding: 20px;
}
#ContenedorMascotas-cliente-sesion{
    max-height: calc(100vh - 200px);
    overflow: auto;
    margin: 10px 0px 10px;
    
}
.frm-verMascotas-cliente_sesion p{
    font-weight: 600;
}
.frm-verMascotas-cliente_sesion span{
    font-weight: 400;
}
.Mascota-unica-cliente-sesion{
    border: 1px solid var(--Negro-50);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
}
.Mascota-unica-cliente-sesion:hover{
    background-color: var(--Negro-25);
}
/* MODAL NUEVA MASCOTA CON MASCOTA EXISTENTE */
.Datos-newmascota-frm-sesion{
    gap: 100px;
}
.NombreClienteCompleto{
    font-size: var(--Text-small);
    margin-bottom: 10px;
}

/* REGISTRAR SESION */
.frm-agendar-cita {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.frm-agendar-cita > p {
    margin: 20px 0px 4px;
    font-weight: 600;
    font-size: var(--Text-long);
}
.motivo-cita{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid var(--Negro-50);
    padding: 10px;
    border-radius: 8px;
}
.motivo-cita div {
    flex: 1;
    margin-right: 10px;
}
.motivo-cita label {
    display: block;
    margin-bottom: 10px;
}
.input-motivocita-group-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.input-motivocita-group {
    flex: 1;
    margin-right: 10px;
}
.input-motivocita-group:last-child {
    margin-right: 0;
}

.input-motivocita-group label {
    margin-bottom: 5px;
}
.input-motivocita-group input,
.input-motivocita-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-motivocita-group textarea {
    height: 100px;
    resize: none;
}
.seccion2FRMSESIOn{
    border: 1px solid var(--Negro-50);
    border-radius: 8px;
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
}
.cita-motivo-textarea textarea{
    padding: 10px;
    background-color: var(--Negro-25);
    border-radius: 4px;
    font-size: var(--Text-small);
}

/* HISTORIAL MEDICO VISTA */
.width100{
    width: 100%;
}

#historial-medico-vista-general{
    width: 800px;
    margin: auto;
}

.contenedor-informacion-propietario-HM, .contenedor-informacion-mascota-HM{
    border: 1px solid var(--Negro-75);
    padding: 8px 14px 14px 14px;
    width: 100%;
}
.Encabezado-historial-medico-informacion{
    border-bottom: 1px solid var(--Negro-75);
    padding-bottom: 4px;
}

.HM_table {
    width: 420px;
    border-collapse: collapse;
    margin: 0 auto;
}

.HM_table-header {
    background-color: var(--Negro-100);
    color: white;
    padding: 8px 4px 8px 4px;
    text-align: center;
}

.HM_table-cell {
    border: 1px solid var(--Negro-50);
    padding: 6px;
    text-align: center;
}

.HM_table-cell:nth-child(1),.HM_table-cell:nth-child(3),.HM_table-cell:nth-child(4) {
    width: 25%;
}

.HM_table-cell:nth-child(2) {
    width: 40%;
}
.HM_table-desparacitaciones{
    width: 360px;
}

.table-cell-1-celda{
    border: 1px solid var(--Negro-50);
    padding: 6px;
    text-align: center;
}
.historia-clinica-HM{
    background-color: var(--Negro-25);
    padding: 4px;
}
.Contenido-HistoriaClínica-HM{
    border: 1px solid var(--Negro-50);
    margin-bottom: 10px;
    padding: 10px;
}
.btn-HistorialMedico{
    margin-top: 20px;
    background-color: var(--Negro-75);
    padding: 8px;
    font-weight: 500;
    width: 70%;
}

/* ACTUALIZAR DATOS DE LA MASCOTA */

/* ANIADIR NUEVA MASCOTA */

.contenidoModal-AniadorMascota{
    background-color: var(--Negro-0);
    position: relative;
    padding: 40px;
    border: 2px solid #E5AE00;
    border-radius: 20px;
}
.form-aniadirMascota{
    border: 1px solid var(--Negro-50);
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.input-aniadirMascota{
    width: 200px;
    background-color: var(--Negro-25);
    border-radius: 8px;
    padding: 10px;
}
.division-gap{
    gap: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.label-aniadirMascota{
    gap: 10px;
}
#btn-AgregarMascota-form{
    margin-top: 30px;
}
.Mensaje-Vacio-cliente{
    font-size: 20px;
    color: var(--Negro-50);
}

/* ACUTUALIZAR PROPIETARIO */

.contenedor-principal-micuenta-cliente{
    padding: 20px 20px 30px 20px;
}
.frm-micuenta-usuario{
    position: relative;
    margin: 20px 0px 20px;
    border: 1px solid var(--Negro-50);
    padding: 10px 30px 20px 30px;
    border-radius: 10px;
    gap: 50px;
    font-size: var(--Text-long);
}

.formularioBasico label{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 4px;
}
.MiCuenta_disabled_input{
    background-color: var(--Negro-25);
    font-size: var(--Text-medium);
    padding: 8px 8px 8px 8px;
    margin-bottom: 25px;
    color: var(--Negro-75);
    width: 300px;
}
.MiCuenta_NOdisabled_input{
    background-color: var(--Negro-25);
    border-radius: 10px;
    padding-left: 8px;
}
.boton-generico-primario-Apretado{
    background-color: var(--Negro-0);
    border: 2px solid var(--yellow-50);
    color: var(--yellow-50);
}
#btnEditarMicuenta{
    width: 400px;
}
#input_miCuenta_direccion{
    height: 60px;
    margin-bottom: 0px;
}


/* ANIADIR VACUNAS */

.frmAniadirnewVacuna{
    padding: 20px;
}
.campo{
    padding: 6px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.ContenedorAniadirVacunas{
    gap: 50px;
    border: 1px solid var(--Negro-50);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
}

/* ANIADIR DESPARACITACIONES */
#modal-AniadirDesparacitaciones-HM .ContenedorAniadirVacunas{
    gap: 24px;
    padding: 20px;
}
#modal-AniadirDesparacitaciones-HM .campo{
    margin: 0px;
}

/* ANIADIR NUEVA HISTORIA CLINICA */
.historiaclinica-formulario-historial {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.historiaclinica-formulario-contenido {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.campo, .historiaclinica-campo-largo {
    margin-right: 10px;
    margin-bottom: 10px;
}

.campo input, .historiaclinica-campo-largo textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.historiaclinica-campo-largo textarea {
    font-family: 'Quicksand', sans-serif;
    height: 30px;
}

.religioso{
    width: 160px;
}
